@charset "UTF-8";

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


/*main-top*/

.top {
  position: relative;
  width: 100%;
  height: 70vh;
  min-height: 680px;
  background: url(../img/top.jpg) no-repeat center;
  background-size: cover;
  background-position: 100% 80%;
}

.top .top_wrap{
  position: absolute;
  top: 150px;
  left: 30px;
  width: 50%;

}

.top .top_img .toplogo{
  width: 100%;

}

.top .top_title{
  color: #8087AB;
  text-align: center;

}

/*main common*/
#index{
  font-family:'Times New Roman', Times, serif;
}

.section_title{
  text-align: center;
  font-size: 60px;
  margin: 30px 0 10px 0;
}

.section_title2{
  text-align: center;
}

.colorchange {
  color: #EAB224;
}

.marker{
  background: linear-gradient(transparent 75%, #EAB224 75%);
}

/*about*/
.about{
  margin-bottom: 50px;
}

.about .about_detail{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 300px;
}

.about .about_detail .detail_img{
  width: 50%;
  margin: 10px;
  display: inline-block;
  position: relative;
}

.about .about_detail .detail_img::after{
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 
  inset 0 0 50px #fff,
  inset 0 0 50px #fff,
  inset 0 0 50px #fff,
  inset 0 0 50px #fff;
}

.detail_img .about_img{
  width: 100%;
  border-radius: 10px;
}

.about_detail .detail{
  display: inline-block;
  width: 50%;
  margin: 10px;
}

.about .detail .detail_title{
  text-align: left;
  font-size: 40px;
  margin-top: 0;
  color: #EAB224;
}

.about .detail .detail_title::after{
  content: "";
  background: #EAB224;
  height: 2px;
  width: 100px;
}

.about .detail p{
  font-family:'Times New Roman', Times, serif;
  line-height: 3em;
}

.about .detail .marker{
  background: linear-gradient(transparent 50%, #FCEDA8 50%);
}

/*FEATURE*/

.feature{
  background: #E8E8E8;
}

.feature_detail{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3em;
}

.feature_detail p .colorchange{
  color: #EAB224;
}

.feature_detail .marker{
  background: linear-gradient(transparent 80%, #EAB224 80%);
}

.feature_wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  
}

.feature_box{
  display: block;
  margin: 0 30px;
  width: 25%;
  height: 100%;
  background: #fff;
  box-shadow: 3px 3px 6px gray;
}

.feature_img{
  width: 100%;
  object-fit: cover;
}

.box_explain h3{
  text-align: center;
}

.box_explain p{
  display: flex;
  padding: 5px;
}

 .viewmore{
  display: flex;
  padding: 20px 0;
  margin: auto 300px;
  justify-content: right;
}

/*service*/
.service .service_detail{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 250px;
  line-height: 3em;
}

.service .service_wrap{
  display: block;
}

.service .service_box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 250px;
  padding: 20px 30px;
  box-shadow: 3px 3px 6px gray;
}

.service_box .servicelogo{
  width: 30%;
  margin: 10px;
}

.servicelogo .service_img{
  width: 100%;
}

.service_box .service_explain{
  margin: 10px;
}


@media screen and (max-width: 1024px) {

  /*ipad*/
  .top {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 680px;
    background: url(../img/top.jpg) no-repeat center;
    background-size: cover;
    background-position: 100% 80%;
  }

  .top .top_wrap {
    position: absolute;
    top: 30%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;
  }

.top .top_img .toplogo {
  width: 100%;

}

.top .top_title {
  color: #8087AB;
  text-align: center;

}

  /*ABOUT*/
.about {
  margin-bottom: 50px;
}

.about .about_detail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 100px;
}

/*FEATURE*/

.feature {
  background: #E8E8E8;
}

.feature_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 3em;
  margin: 0 100px;
}

/*service*/
.service .service_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 100px;
  line-height: 3em;
}

.service .service_wrap {
  display: block;
}

.service .service_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 250px;
  padding: 20px 30px;
  box-shadow: 3px 3px 6px gray;
}

.service_box .servicelogo {
  width: 30%;
  margin: 10px;
}

.servicelogo .service_img {
  width: 100%;
}

.service_box .service_explain {
  margin: 10px;
}

}